html {

    --mainBgColor: #817166;
    --secondaryColor: #201D1A;
    --textColor: white;
    --lightColor: #E0C3B1;
    --bgColor: #EBE7E5;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans;
    color: black;
}


nav {
    /* background: var( --mainBgColor ); */
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    top: 0;
    position: absolute;
    font-family: "Roboto";
}

.navLogo {

    font-size: 28px;
    font-family: inherit;

}

.navLinks {
    display: flex;
    font-family: inherit;
}

.navLink {
    padding: 5px 15px;
    text-transform: capitalize;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.1s ease-out;
    font-family: inherit;
}

.navLink:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.2);
}

.mainSec {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var( --lightColor );
    height: 100vh;
}

.mainImage {
    top: 0;
    width: 100%;
    height: calc( 100vh );
    max-height: calc( 60vw );
    opacity: 0.9;
    object-fit: cover;
    position: absolute;
}

.mainTitle {
    background: rgba(32, 29, 26, 0.9);
    top: 250px;
    padding: 30px;
    width: 950px;
    font-family: "Oswald";
    font-size: 80px;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
}

.clothingSec {
    display: flex;
    background: var( --lightColor );
    height: 100vh;
    width: 100%;
}














@media ( max-width: 992px ) {



}

@media ( max-width: 768px ) {



}

@media ( max-width: 576px ) {



}